table.wk-split__cart__table {
    width: 100% !important;
    border-collapse: collapse
}

table.wk-split__cart__table tbody tr td,
table.wk-split__cart__table thead tr th {
    padding: 15px !important
}

table.wk-split__cart__table tbody tr td:first-child {
    width: 100px !important
}

table.wk-split__cart__table tbody tr td:nth-child(2) {
    width: 300px !important;
    word-break: break-word
}

table.wk-split__cart__table tbody tr td:first-child img {
    width: 100% !important;
    height: auto;
    max-width: 100px
}

table.wk-split__cart__table div.wk-remove-product {
    margin-top: 15px
}

table.wk-split__cart__table div.wk-remove-product a {
    color: #e53935
}

table.wk-split__cart__table span.wk-trash-icon:before {
    content: "\2716"
}

table.wk-split__cart__table input {
    width: 70px !important;
    display: inline-block;
    border: 1px solid #dedede;
    padding: 7px
}

table.wk-split__cart__table input.wk-btn-secondary {
    background-color: #5e5e5e !important;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: 0
}

div.wk-order-footer {
    display: flex;
    padding: 15px
}

div.wk-order-note {
    flex: 1 1 0
}

div.wk-order-subtotal {
    flex: 1 1 0;
    text-align: right;
    font-size: 18px
}

div.wk-pickup-by-cart {
    width: 390px;
    padding-right: 20px
}

div.cart-pickup-error {
    background: #ecb9b9;
    text-align: center;
    margin-top: 15px
}

a.wk-continue-shopping {
    color: #191919;
    font-size: 14px
}

a.wk-continue-shopping:before {
    content: "\21A9";
    padding-right: 5px
}

.wk-main-conent__split-cart {
    display: block;
    padding-left: 15px;
    padding-right: 15px
}

button.wk-buy {
    background: #ae2e2e !important;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 10px;
    border: none
}

@media only screen and (max-width:749px) {
    table.wk-split__cart__table thead {
        display: none
    }

    table.wk-split__cart__table tbody tr td:first-child {
        width: 250px !important
    }

    table.wk-split__cart__table span.wk-trash-icon {
        display: none
    }

    button.wk-buy {
        padding: 10px
    }

    div.wk-order-footer {
        display: block
    }

    .wk-split__cart__table td {
        text-align: center !important
    }

    .wk-split__cart__table tr td.item-subtotal {
        display: none
    }
}

table.wk-split__cart__table {
    width: 100% !important;
    border-collapse: collapse
}

table.wk-split__cart__table tbody tr td,
table.wk-split__cart__table thead tr th {
    padding: 15px !important
}

table.wk-split__cart__table tbody tr td:first-child {
    width: 100px !important
}

table.wk-split__cart__table tbody tr td:nth-child(2) {
    width: 300px !important;
    word-break: break-word
}

table.wk-split__cart__table tbody tr td:first-child img {
    width: 100% !important;
    height: auto;
    max-width: 100px
}

table.wk-split__cart__table div.wk-remove-product {
    margin-top: 15px
}

table.wk-split__cart__table div.wk-remove-product a {
    color: #e53935
}

table.wk-split__cart__table span.wk-trash-icon:before {
    content: "\2716"
}

table.wk-split__cart__table input {
    width: 70px !important;
    display: inline-block;
    border: 1px solid #dedede;
    padding: 7px
}

table.wk-split__cart__table input.wk-btn-secondary {
    background-color: #5e5e5e !important;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: 0
}

div.wk-order-footer {
    display: flex;
    padding: 15px
}

div.wk-order-note {
    flex: 1 1 0
}

div.wk-order-subtotal {
    flex: 1 1 0;
    text-align: right;
    font-size: 18px
}

div.wk-pickup-by-cart {
    width: 390px;
    padding-right: 20px
}

div.cart-pickup-error {
    background: #ecb9b9;
    text-align: center;
    margin-top: 15px
}

a.wk-continue-shopping {
    color: #191919;
    font-size: 14px
}

a.wk-continue-shopping:before {
    content: "\21A9";
    padding-right: 5px
}

.wk-main-conent__split-cart {
    display: block;
    padding-left: 15px;
    padding-right: 15px
}

button.wk-buy {
    background: #ae2e2e !important;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 10px;
    border: none
}

@media only screen and (max-width:749px) {
    table.wk-split__cart__table thead {
        display: none
    }

    table.wk-split__cart__table tbody tr td:first-child {
        width: 250px !important
    }

    table.wk-split__cart__table span.wk-trash-icon {
        display: none
    }

    button.wk-buy {
        padding: 10px
    }

    div.wk-order-footer {
        display: block
    }

    .wk-split__cart__table td {
        text-align: center !important
    }

    .item-image,
    .item-name {
        position: relative;
        left: auto
    }

    .wk-split__cart__table tr td.item-subtotal {
        display: none
    }
}

#cfw-cart-summary {
    z-index: 101
}

.route-widget {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    text-transform: none;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    min-width: 256px
}

.route-widget.desktop-align-left {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.route-widget.desktop-align-center {
    -ms-flex-pack: center;
    justify-content: center
}

.route-widget.desktop-align-right {
    -ms-flex-pack: end;
    justify-content: flex-end
}

@media only screen and (max-width:767px) {
    .route-widget.mobile-align-left {
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .route-widget.mobile-align-center {
        -ms-flex-pack: center;
        justify-content: center
    }

    .route-widget.mobile-align-right {
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

@media only screen and (max-width:767px) {
    .route-widget {
        -ms-flex-pack: center;
        justify-content: center
    }
}

.route-widget .rw-contents {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: auto;
    line-height: 12px
}

.route-widget .rw-contents .rw-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4px 10px 0;
    width: auto
}

.route-widget .rw-contents .rw-left .rw-route-logo {
    z-index: 1;
    width: 31px !important
}

.route-widget .rw-contents .rw-left .rw-route-logo:hover {
    cursor: pointer
}

.route-widget .rw-contents .rw-left .rw-route-logo-white {
    position: absolute;
    width: 31px;
    opacity: 0
}

@media only screen and (max-width:265px) {
    .route-widget .rw-contents .rw-left .rw-route-logo-white {
        display: none
    }
}

.route-widget .rw-contents .rw-left .rw-route-logo-white:hover {
    cursor: pointer
}

.route-widget .rw-contents .rw-center .rw-text-top {
    font-weight: 800;
    font-size: 12.5px;
    text-align: left !important
}

.route-widget .rw-contents .rw-center .rw-text-top .rw-info {
    font-style: italic;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #000 !important;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 6px;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1px;
    margin-left: 5px;
    padding: 0 4px 0 3px
}

.route-widget .rw-contents .rw-center .rw-text-bottom {
    font-size: 10.5px;
    line-height: 18px;
    text-align: left !important
}

.route-widget .rw-contents .rw-right {
    padding: 0 0 0 10px
}

.route-widget .rw-contents .rw-right .rw-checkbox-span {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    height: 16px;
    width: 37px;
    border-radius: 100px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer
}

.route-widget .rw-contents .rw-right .rw-checkbox-span.rw-unchecked {
    background-color: #f3f3f3;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.route-widget .rw-contents .rw-right .rw-checkbox-span.rw-checked {
    background-color: #5dc8db;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.route-widget .rw-contents .rw-right .rw-checkbox-span .rw-slider {
    position: fixed;
    -ms-flex-item-align: center;
    align-self: center;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin-left: 3px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px .3px #c2c2c2;
    box-shadow: 0 0 2px .3px #c2c2c2
}

.route-widget .rw-contents .rw-right .rw-checkbox-span .rw-slider.rw-checked {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-box-shadow: 0 0 2px .3px #499dac;
    box-shadow: 0 0 2px .3px #499dac
}

.route-widget .rw-contents .rw-right .rw-checkbox-span .rw-on-text {
    margin: 0;
    justify-self: left;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 10px;
    padding: 0 0 0 5px;
    color: #fff;
    font-weight: 600
}

.route-widget .rw-contents .rw-right .rw-checkbox-span .rw-on-text.rw-unchecked {
    display: none
}

.route-widget .rw-contents .rw-right .rw-checkbox-span .rw-route-remove {
    width: 14px;
    height: 14px;
    justify-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

.route-widget .rw-contents .rw-right .rw-checkbox-span .rw-route-remove.rw-unchecked {
    display: none
}

.route-widget .rw-contents .rw-right .rw-checkbox-span .rw-off-text {
    margin: 0;
    justify-self: right;
    -ms-flex-item-align: center;
    align-self: center;
    color: #6d6d6d;
    font-size: 10px;
    padding: 0 0 0 19px
}

.route-widget .rw-contents .rw-right .rw-checkbox-span .rw-off-text.rw-checked {
    display: none
}

.route-widget .rw-contents .rw-right .rw-checkbox-span.rw-checked {
    -webkit-animation: wave .4s ease;
    animation: wave .4s ease
}

.route-widget .rw-contents .rw-right .rw-input {
    display: none
}

.route-widget .rw-contents .rw-right .rw-input:checked .rw-checkbox-label .rw-checkbox-span {
    -webkit-animation: wave .4s ease;
    animation: wave .4s ease
}

.route-widget.dark-ui {
    color: #e6e6e6 !important
}

.route-widget.dark-ui .rw-contents .rw-left {
    padding: 0 4px 10px 0
}

.route-widget.dark-ui .rw-contents .rw-left .rw-route-logo {
    opacity: 0
}

.route-widget.dark-ui .rw-contents .rw-left .rw-route-logo-white {
    z-index: 1;
    position: absolute;
    width: 32px;
    opacity: 1
}

@media only screen and (max-width:265px) {
    .route-widget.dark-ui .rw-contents .rw-left .rw-route-logo-white {
        display: none
    }
}

.route-widget.dark-ui .rw-contents .rw-left .rw-route-logo-white:hover {
    cursor: pointer
}

.route-widget.dark-ui .rw-contents .rw-center .rw-text-top .rw-info {
    border: 1px solid #e6e6e6 !important
}

.route-modal {
    background-color: rgba(0, 0, 0, .8);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #69727b;
    display: none;
    font-family: "Titillium Web", sans-serif;
    height: 100%;
    left: 0;
    overflow: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000000
}

.route-modal.rm-open {
    display: block;
    overflow: hidden
}

@media screen and (min-width:1024px) {
    .route-modal.rm-open {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }
}

.route-modal .route-modal-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border-radius: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 50px auto;
    max-width: 775px;
    height: auto;
    position: relative;
    text-align: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media screen and (min-width:481px) and (max-width:768px) {
    .route-modal .route-modal-box {
        width: 90%;
        max-height: 950px
    }
}

@media only screen and (max-width:480px) {
    .route-modal .route-modal-box {
        display: grid;
        width: 315px;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.route-modal .route-modal-box .background {
    position: absolute;
    border-radius: 25px;
    width: 100%;
    height: 100%
}

@media screen and (min-width:481px) and (max-width:768px) {
    .route-modal .route-modal-box .background {
        position: inherit
    }
}

@media only screen and (max-width:480px) {
    .route-modal .route-modal-box .background {
        display: none
    }
}

.route-modal .route-modal-box .route-line {
    position: absolute;
    width: 100%;
    justify-self: center;
    top: 50px
}

@media screen and (min-width:769px) {
    .route-modal .route-modal-box .route-line {
        margin-top: 50px
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .route-modal .route-modal-box .route-line {
        margin-top: 50px
    }
}

@media only screen and (max-width:480px) {
    .route-modal .route-modal-box .route-line {
        margin-top: 65px
    }
}

.route-modal .route-modal-box .route-rm-close-modal {
    cursor: pointer;
    height: 20px;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 10;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 5px 5px 0 0
}

@media only screen and (max-width:480px) {
    .route-modal .route-modal-box .route-rm-close-modal {
        width: 15px
    }
}

.route-modal .route-modal-box .route-modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
    margin-top: 50px
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        height: 100%;
        margin-left: 50px
    }
}

@media only screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -ms-flex-align: center;
        align-items: center;
        height: 150px;
        width: auto;
        margin-top: 25px
    }
}

.route-modal .route-modal-box .route-modal-header .route-rm-secure-with {
    color: #fff;
    font-size: 12px
}

@media screen and (min-width:769px) {
    .route-modal .route-modal-box .route-modal-header .route-rm-secure-with {
        -ms-flex-item-align: start;
        align-self: flex-start;
        margin-left: 55px;
        font-size: 16px
    }
}

@media screen and (min-width:586px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-header .route-rm-secure-with {
        margin-top: 25px;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

@media only screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-header .route-rm-secure-with {
        margin-top: 10px;
        font-size: 70%;
        text-align: left;
        margin-right: 30px
    }
}

@media screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-header .route-rm-secure-with {
        color: #69727b;
        -ms-flex-order: 0;
        order: 0;
        padding: 0
    }
}

.route-modal .route-modal-box .route-modal-header .route-rm-route-logo {
    width: 180px;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (min-width:769px) {
    .route-modal .route-modal-box .route-modal-header .route-rm-route-logo {
        margin-left: 55px
    }
}

@media screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-header .route-rm-route-logo {
        display: none;
        padding: 0
    }
}

.route-modal .route-modal-box .route-modal-header .route-rm-route-logo-color {
    width: 180px
}

@media screen and (min-width:769px) {
    .route-modal .route-modal-box .route-modal-header .route-rm-route-logo-color {
        display: none
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-header .route-rm-route-logo-color {
        display: none
    }
}

.route-modal .route-modal-box .route-modal-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-align: center;
    align-items: center;
    height: 450px;
    z-index: 10;
    margin: 60px 0 25px 0;
    -ms-flex-item-align: end;
    align-self: end;
    justify-self: center;
    width: 775px
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-content {
        position: absolute;
        width: 100%;
        height: auto;
        margin: 0
    }
}

@media only screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 300px;
        height: 100%;
        margin-top: 15px
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    height: auto
}

.route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-icon-box1 {
    vertical-align: text-top;
    width: 224px;
    height: 295px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
    grid-row: modalCTop-s/modalCTop-e;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media screen and (min-width:561px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-icon-box1 {
        width: 160px;
        height: auto
    }
}

@media only screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-icon-box1 {
        width: 120px;
        height: 80%
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-icon-box1 .route-rm-icon-box-image {
    height: 253px;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 10px
}

@media screen and (min-width:586px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-icon-box1 .route-rm-icon-box-image {
        height: 200px;
        width: 100%
    }
}

@media screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-icon-box1 .route-rm-icon-box-image {
        width: 110px;
        height: 150px
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-icon-box1 .route-rm-icon-box-title {
    color: #242627;
    font-size: 18px;
    margin-top: 15px
}

.route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-icon-box1 .route-rm-icon-box-text {
    color: #000;
    font-size: 13px
}

@media screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-icon-box1 {
        -ms-flex-order: 1;
        order: 1
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-text1 {
    margin: 25px 0 15px 0
}

@media screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-text1 {
        font-size: .8em;
        margin: 15px 0 25px 0
    }
}

@media screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-content .icon-box1 .route-rm-text1 {
        -ms-flex-order: 0;
        order: 0
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    height: auto
}

.route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-icon-box2 {
    vertical-align: text-top;
    width: 224px;
    height: 295px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
    grid-row: modalCTop-s/modalCTop-e;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media screen and (min-width:561px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-icon-box2 {
        width: 160px;
        height: auto
    }
}

@media only screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-icon-box2 {
        width: 120px;
        height: 80%
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-icon-box2 .route-rm-icon-box-image {
    height: 253px;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 10px
}

@media screen and (min-width:586px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-icon-box2 .route-rm-icon-box-image {
        height: 200px;
        width: 100%
    }
}

@media screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-icon-box2 .route-rm-icon-box-image {
        width: 110px;
        height: 150px
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-icon-box2 .route-rm-icon-box-title {
    color: #242627;
    font-size: 18px;
    margin-top: 15px
}

.route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-icon-box2 .route-rm-icon-box-text {
    color: #000;
    font-size: 13px
}

@media screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-icon-box2 {
        -ms-flex-order: 1;
        order: 1
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-text2 {
    margin: 25px 0 15px 0
}

.route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-text2 .route-rm-icon-box-image {
    height: 253px;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 10px
}

@media screen and (min-width:586px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-text2 .route-rm-icon-box-image {
        height: 200px;
        width: 100%
    }
}

@media screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-text2 .route-rm-icon-box-image {
        width: 110px;
        height: 150px
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-text2 .route-rm-icon-box-title {
    color: #242627;
    font-size: 18px;
    margin-top: 15px
}

.route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-text2 .route-rm-icon-box-text {
    color: #000;
    font-size: 13px
}

@media screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-text2 {
        font-size: .8em;
        margin: 15px 0 25px 0
    }
}

@media screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-content .icon-box2 .route-rm-text2 {
        -ms-flex-order: 0;
        order: 0
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    height: auto
}

.route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-icon-box3 {
    vertical-align: text-top;
    width: 224px;
    height: 295px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
    grid-row: modalCTop-s/modalCTop-e;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media screen and (min-width:561px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-icon-box3 {
        width: 160px;
        height: auto
    }
}

@media only screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-icon-box3 {
        width: 120px;
        height: 80%
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-icon-box3 .route-rm-icon-box-image {
    height: 253px;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 10px
}

@media screen and (min-width:586px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-icon-box3 .route-rm-icon-box-image {
        height: 200px;
        width: 100%
    }
}

@media screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-icon-box3 .route-rm-icon-box-image {
        width: 110px;
        height: 150px
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-icon-box3 .route-rm-icon-box-title {
    color: #242627;
    font-size: 18px;
    margin-top: 15px
}

.route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-icon-box3 .route-rm-icon-box-text {
    color: #000;
    font-size: 13px
}

@media screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-icon-box3 {
        -ms-flex-order: 1;
        order: 1
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-text3 {
    margin: 25px 0 15px 0
}

.route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-text3 .route-rm-icon-box-image {
    height: 253px;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 10px
}

@media screen and (min-width:586px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-text3 .route-rm-icon-box-image {
        height: 200px;
        width: 100%
    }
}

@media screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-text3 .route-rm-icon-box-image {
        width: 110px;
        height: 150px
    }
}

.route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-text3 .route-rm-icon-box-title {
    color: #242627;
    font-size: 18px;
    margin-top: 15px
}

.route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-text3 .route-rm-icon-box-text {
    color: #000;
    font-size: 13px
}

@media screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-text3 {
        font-size: .8em;
        margin: 15px 0 25px 0
    }
}

@media screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-content .icon-box3 .route-rm-text3 {
        -ms-flex-order: 0;
        order: 0
    }
}

.route-modal .route-modal-box .route-modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 775px
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-footer {
        height: 100%;
        padding-top: 50px
    }
}

@media only screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-footer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        width: 315px
    }
}

.route-modal .route-modal-box .route-modal-footer .rm-footer-1 {
    width: 75%
}

@media only screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-footer .rm-footer-1 {
        margin-top: 50px
    }
}

.route-modal .route-modal-box .route-modal-footer .rm-footer-1 .route-rm-terms {
    font-size: 10px
}

.route-modal .route-modal-box .route-modal-footer .rm-footer-2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 25px 0 35px 0
}

@media screen and (min-width:586px) and (max-width:768px) {
    .route-modal .route-modal-box .route-modal-footer .rm-footer-2 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media screen and (min-width:481px) and (max-width:585px) {
    .route-modal .route-modal-box .route-modal-footer .rm-footer-2 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0
    }
}

@media only screen and (max-width:480px) {
    .route-modal .route-modal-box .route-modal-footer .rm-footer-2 {
        margin-top: 20px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.route-modal .route-modal-box .route-modal-footer .rm-footer-2 .route-rm-copyright {
    font-size: 12px;
    margin: 5px 0
}

.route-modal .route-modal-box .route-modal-footer .rm-footer-2 .route-rm-terms-of-use {
    margin: 5px 0;
    z-index: 100
}

.route-modal .route-modal-box .route-modal-footer .rm-footer-2 .route-rm-terms-of-use .route-rm-terms-of-use-text {
    color: #67c8d9;
    text-decoration: underline;
    font-size: 11px
}

.route-modal .route-modal-box .route-modal-footer .rm-footer-2 .route-rm-user-privacy {
    z-index: 100
}

.route-modal .route-modal-box .route-modal-footer .rm-footer-2 .route-rm-user-privacy .route-rm-user-privacy-text {
    color: #67c8d9;
    text-decoration: underline;
    font-size: 11px;
    margin: 5px 0
}

.route-modal .route-modal-box .route-modal-footer .rm-footer-2 .route-rm-lloyds-container {
    margin: 5px 0
}

.route-modal .route-modal-box .route-modal-footer .rm-footer-2 .route-rm-lloyds-container .route-rm-lloyds-image {
    height: 22px;
    width: 100px
}

@media screen and (max-width:992px) {
    .route-modal.rm-open {
        overflow: auto
    }
}